<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Product Page - Admin HTML Template</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700"/>
    <link rel="stylesheet" th:href="@{/admin/css/fontawesome.min.css}">
    <link rel="stylesheet" th:href="@{/admin/css/fontawesome.min.css}">
    <link rel="stylesheet" th:href="@{/admin/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/admin/css/templatemo-style.css}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>

<body id="reportsPage">
<nav th:replace="admin/layout::nav"></nav>
<div class="container-fluid mt-5">
    <div class="row tm-content-row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 tm-block-col">
            <div class="tm-bg-primary-dark tm-block tm-block-products">
                <div class="tm-product-table-container">
                    <table class="table table-hover tm-table-small tm-product-table">
                        <thead>
                        <tr>
                            <th scope="col">&nbsp;</th>
                            <th scope="col">Tên</th>
                            <th scope="col">Mã</th>
                            <th scope="col">Giá</th>
                            <th scope="col">Thể loại</th>
                            <th scope="col">Hãng sản xuất</th>
                            <th scope="col">Mô tả</th>
                            <th scope="col">Số lượng còn lại</th>
                            <th scope="col">Đã bán</th>
                            <th scope="col">Số lượt xem</th>
                            <th scope="col">&nbsp;</th>
                            <th scope="col">&nbsp;</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="cloth:${clothes}">
                            <th scope="row"><input type="checkbox"/></th>
                            <td class="tm-product-name" th:text="${cloth.clothesDetail.name}"></td>
                            <td class="tm-product-name" th:text="${cloth.clothesDetail.code}"></td>
                            <td class="tm-product-name" th:text="${cloth.clothesDetail.price}"></td>
                            <td class="tm-product-name" th:text="${cloth.clothesDetail.category.name}"></td>
                            <td class="tm-product-name" th:text="${cloth.clothesDetail.brand.name}"></td>
                            <td class="tm-product-name" th:text="${cloth.clothesDetail.description}"></td>
                            <td class="tm-product-name" th:text="${cloth.clothesDetail.quantity}"></td>
                            <td class="tm-product-name" th:text="${cloth.clothesDetail.soldAmount}"></td>
                            <td class="tm-product-name" th:text="${cloth.clothesDetail.viewCount}"></td>
                            <td>
                                <a th:href="@{'/admin/product/update/'+${cloth.id}}" class="tm-product-delete-link"
                                   style="color: white;">
                                    <i class="fas fa-pen-alt tm-product-delete-icon"></i>
                                </a>
                            </td>
                            <td>
                                <a href="#" class="tm-product-delete-link remove-clothes" th:id="${cloth.id}">
                                    <i class="far fa-trash-alt tm-product-delete-icon"></i>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!--Pageable-->
                <div>
                    <a style="color: white" th:href="@{'/admin/product'(page=${clothes.number - 1})}"
                       th:if="${clothes.hasPrevious()}">Previous</a>
                    <span th:text="${clothes.number + 1}"></span>/<span th:text="${clothes.totalPages}"></span>
                    <a style="color: white" th:href="@{'/admin/product'(page=${clothes.number + 1})}"
                       th:if="${clothes.hasNext()}">Next</a>
                </div>
                <br>
                <!-- table container -->
                <a th:href="@{/admin/product/add}" class="btn btn-primary btn-block text-uppercase mb-3">THÊM SẢN
                    PHẨM</a>
            </div>
        </div>
    </div>
</div>
<!--<footer class="tm-footer row tm-mt-small">-->
<!--    <div class="col-12 font-weight-light">-->
<!--        <p class="text-center text-white mb-0 px-4 small">-->
<!--            Copyright &copy; <b>2018</b> All rights reserved.-->

<!--            Design: <a rel="nofollow noopener" href="https://templatemo.com" class="tm-footer-link">Template Mo</a>-->
<!--        </p>-->
<!--    </div>-->
<!--</footer>-->

<script th:src="@{/admin/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/admin/js/bootstrap.min.js}"></script>
<script>
    $(function () {
        $(".tm-product-name").on("click", function () {
            window.location.href = "edit-product.html";
        });
    });
    $(document).ready(function () {
        $(document).on("click", ".remove-clothes", function () {
            let node = $(this);
            console.log(node.attr("id"));
            $.ajax({
                type: "PUT",
                url: "/admin/product/disable/" + node.attr("id"),
                success: function () {
                    node.parent().parent().remove();
                }
            })
        })
    })
</script>
</body>
</html>